.entries-area {
  padding: 10px 0;
  width: 98%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vh;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.entries-area label {
  width: 35%;
  text-transform: capitalize;
  text-align: center;
}
.entries-area input {
  width: 55%;
  text-align: center;

  border: 1px solid #0000009a;
  border-radius: 15px;
}
.entries-area input.error {
  border: 1px solid #ff000066;
  outline: 1px solid #ff000066;
}


@media screen and (max-width: 400px) {
  .entries-area {
    gap: .5vh;
  }
  .entries-area label {
    width: 98%;
    text-align: center;
  }
  .entries-area input {
    width: 98%;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .entries-area {
    gap: .75vh;
  }
}